.hidden-photo {
    width: 150px;
    height: 200px;
    background-size: cover;
    position: absolute;
    cursor: pointer;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
b {
    color: red;
}
.App {
    text-align: center;
}